node_modules/
.pnpm-store/

.next/
out/
dist/
build/
.turbo/
*.tsbuildinfo
next-env.d.ts

.env.local
.env.dev
.env.prod

.expo/
.expo-shared/
apps/mobile/android/
apps/mobile/ios/

*.log
npm-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

docker/data/
